h1 {
  text-align: center;
  margin-top: 100px;
}

#quizContainer {
  border-style: solid;
  padding: 15px;
  padding-top: 50px;
  height: 450px;
  top: 50%;
}

#questions {
  border-style: dashed;
  padding: 20px;
  text-align: center;
}

.choices {
  border: 15px;
  padding: 20px;
  float: left;
  width: 50%;
}

#ch0 {
  border-style: solid;
  padding: 10px;
  width: 65%;
  clear: both;
}

#ch1 {
  border-style: solid;
  padding: 10px;
  width: 65%;
  clear: both;
}

#ch2 {
  border-style: solid;
  padding: 10px;
  width: 65%;
  clear: both;
}

#ch3 {
  border-style: solid;
  padding: 10px;
  width: 65%;
  clear: both;
}
 .images {
  float: right;
  width: 35%;
 }

.hidden {
  display: none;
}

.column {
  float: left;
  width: 33%;
  margin: 0px;
  text-align: center;
}

#start {
  clear: both;
}

body {
  background-image: url("../assets/triviawall.jpg");
  background-image: 75%;
}

