h1 {
  text-align: center;
  margin-top: 100px;
  font-family: Optima, Segoe, 'Segoe UI', Candara, Calibri, Arial, sans-serif;
}

#quizContainer {
  border-style: none;
  padding: 15px;
  padding-top: 35px;
  height: 550px;
}

#questions {
  border-style: none;
  padding: 20px;
  text-align: center;
  font-family: Optima, Segoe, 'Segoe UI', Candara, Calibri, Arial, sans-serif;
  font-size: 30px;
  font-weight: bold;
}

.choices {
  border: 15px;
  padding: 20px;
  float: left;
  width: 50%;
  font-family: Optima, Segoe, 'Segoe UI', Candara, Calibri, Arial, sans-serif;
  padding-top: 10%;
}

#ch0 {
  border-style: none;
  padding: 10px;
  width: 65%;
  clear: both;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
}

#ch1 {
  border-style: none;
  padding: 10px;
  width: 65%;
  clear: both;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
}

#ch2 {
  border-style: none;
  padding: 10px;
  width: 65%;
  clear: both;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
}

#ch3 {
  border-style: none;
  padding: 10px;
  width: 65%;
  clear: both;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
}
 #images {
  float: right;
  width: 35%;
 }

.hidden {
  display: none;
}

.column {
  float: left;
  width: 33%;
  text-align: center;
  font-family: Optima, Segoe, 'Segoe UI', Candara, Calibri, Arial, sans-serif;
}

#start {
  clear: both;
}

body {
  background-image: url("../assets/triviawall.jpg");
  background-size: cover;
}

#wholeContainer {
  padding: 30px;
}

.lady {
  display: block;
  width: 150px;
  height: 150px;
}

#time_and_restart {
  padding-top: 25px;
}

.timer {
  font-family: 'digital-clock-font;
}

@font-face{
 font-family:'digital-clock-font';
 src: url('digital-7 (mono).ttf');




